<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- Menambahkan Bootstrap Icons (untuk ikon toggle) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">
    <div class="branding d-flex align-items-center">
      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="../static/img/logok.png" alt="KidziCare Logo" class="sitename-logo">
        </a>
        
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/" class="active">Beranda</a></li>
            <li><a href="#gallery">Informasi</a></li>
            <li><a href="#tentang">Tentang</a></li>
            <li><a href="#informasi">Team</a></li>
          </ul>
          <!-- Toggle Button for small screens -->
          <i id="toggle-button" class="mobile-nav-toggle bi bi-list"></i>
        </nav>
      </div>      
    </div>
  </header>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="../static/img/Gambar.png" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>PENCEGAHAN STUNTING</h2>
          <p>Informasi Terpercaya Langsung dari Ahlinya</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Apa Itu Stunting?</h3>
              <p>
                Stunting adalah kondisi di mana pertumbuhan anak terhambat sehingga tinggi badannya lebih pendek dari anak seusianya. Kondisi ini terjadi karena kekurangan gizi dalam jangka waktu yang lama, biasanya sejak dalam kandungan hingga usia dua tahun. Anak yang mengalami stunting tidak hanya memiliki tinggi badan yang pendek, tetapi juga sering mengalami gangguan perkembangan otak, daya tahan tubuh yang lemah, dan kesulitan belajar.
              </p>
              <div class="text-left mt-4">
                <a class="cta-btn d-inline-block" href="/kidzicare">Konsultasi Sekarang</a>
              </div>
            </div>
          </div><!-- End Why Box -->
        </div><!-- End  Content-->

        <!-- Konsultasi Button -->
        

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="tentang" class="about section">
      <div class="container">
        <div class="row d-flex align-items-center gx-5">
          <!-- Gambar -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <img src="../static/img/Dokter.png" class="img-fluid" alt="">
          </div>
          <!-- Konten Teks -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>KidziCare</h3>
            <p>Aplikasi KidziCare menawarkan berbagai manfaat yang memudahkan upaya pencegahan stunting pada anak. Aplikasi ini menyediakan informasi lengkap tentang gizi anak dan memberikan rekomendasi menu makanan bergizi yang membantu orang tua memenuhi kebutuhan nutrisi anak. Selain itu, KidziCare juga memungkinkan orang tua untuk saling berbagi pengalaman, memberikan dukungan emosional, dan bertukar tips mengenai perawatan anak. Dengan kemudahan akses informasi mengenai tumbuh kembang anak, aplikasi ini berperan penting dalam mendukung orang tua dalam memberikan asupan gizi yang tepat, mencegah stunting, dan memastikan anak tumbuh dan berkembang secara optimal.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- /About Section -->
    <section id="gallery" class="gallery section" style="padding: 20px;">
      <div class="container section-title" data-aos="fade-up">
        <h2 style="text-align: center; margin-bottom: 30px;">STUNTING</h2>
        <p>Stunting berdampak negatif pada pertumbuhan fisik, perkembangan otak, dan kemampuan kognitif anak. Anak yang stunting memiliki tinggi badan rendah, keterlambatan belajar, dan kemampuan kognitif yang terbatas, yang mempengaruhi prestasi akademik. Selain itu, mereka lebih rentan terhadap penyakit karena sistem kekebalan tubuh yang lemah. Stunting juga mengurangi produktivitas jangka panjang dan dapat menciptakan siklus kemiskinan antar generasi. Pencegahan stunting melalui gizi yang tepat selama kehamilan dan masa balita sangat penting untuk menghindari dampak tersebut.</p>
      </div>
      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <img src="../static/img/gambar1.jpeg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <img src="../static/img/gambar2.jpeg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="informasi" class="about section" style="padding: 20px;">
      <div class="informasi">
        <h2 style="text-align: center; margin-bottom: 30px;">INFORMASI KELOMPOK</h2>
        <div class="row align-items-center justify-content-center g-3">
          <!-- Konten Gambar dan Teks Indah -->
          <div class="col-lg-5 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="text-center">
              <img src="../static/img/indah.jpg" class="img-fluid" alt="" style="max-width: 55%; height: auto; border-radius: 10px;">
              <p style="margin-top: 15px;">Nama : Indah Purnama Sari<br>NIM : 202255202010</p>
            </div>
          </div>
    
          <!-- Konten Gambar dan Teks Virda -->
          <div class="col-lg-5 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="text-center">
              <img src="../static/img/Virda.jpeg" class="img-fluid" alt="" style="max-width: 55%; height: auto; border-radius: 10px;">
              <p style="margin-top: 15px;">Nama : Virda Kristy<br>NIM : 202255202064</p>
            </div>
          </div>
        </div>
      </div>
    </section>
           
  </main>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
